.inputTicket{
  margin: 20px 30%
}
.inputTicket input {
  padding: 7px;
}
.inputTicket button {
  padding: 7px;
}
.displayTicketsContainer{
  border: 1px solid gray;
  padding: 20px;
  display: grid;
  place-items: center;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr)
}

.eachRow{
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
.eachColumn{
  padding: 15px;
  border: 1px solid black;
  display: grid;
  place-self: center;

}